@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 100%;
    --card: 206 17% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 206 17% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 175 95% 48%;
    --primary-foreground: 208 21% 11%;
    --secondary: 208 21% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 21% 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 175 95% 48%;
    --accent-foreground: 208 21% 11%;
    --destructive: 358 93% 52%;
    --destructive-foreground: 0 0% 100%;
    --border: 208 21% 11%;
    --input: 208 21% 11%;
    --ring: 175 95% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 100%;
    --card: 206 17% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 206 17% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 175 95% 48%;
    --primary-foreground: 208 21% 11%;
    --secondary: 208 21% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 21% 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 175 95% 48%;
    --accent-foreground: 208 21% 11%;
    --destructive: 358 93% 52%;
    --destructive-foreground: 0 0% 100%;
    --border: 208 21% 11%;
    --input: 208 21% 11%;
    --ring: 175 95% 48%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
